<%- include("../partials/head.ejs") %>

<h1><%= soda.name %></h1>
<h3><%= soda.color %></h3>
<h3><%= soda.readyToSell ? "Ready to sell" : "" %></h3>
<a href="/soda/<%= index %>/edit"><button>Edit</button></a>

<a href="/soda">BACK TO SODA LIST</a>